@import "./variables";
@import "./carousel";
@import "./navigation";
@import "./images";
@import "./responsive";
@import "./footer";
@import "./sections";

body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

a{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primaryColor;
}

li{
    float: left;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover{
      background-color: lightgreen;
      color: white;
    }
  }


#skillList{
    list-style-type: none;
    background-color: transparent;
    font-size: 20px;
    padding: 100px 800px;
}

.btn{
    width: 50%;
}

.night{
    padding-left: 10%;
    text-align: left;
}

.table{
    padding: auto;
}

#ig-icon{
    display: inline-block;
    font-size: 30px;
}